@charset "UTF-8";


/*---------- �y�[�W�S�̂̎w�� ----------*/

body {
  font-family: Verdana, Arial, Helvetica, sans-serif, "�l�r �o�S�V�b�N","Hiragino KaKu Gothic Pro", Osaka;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333333;
  background-image: url(img/back.gif);
}

a:link {
  color: #333333;
  font-size: 12px;
}

a:hover {
  color: #004080;
  font-size: 12px;
}

a:visited {
  color: #333333;
  font-size: 12px;
}

p {
  margin: 18px 0 18px 0;
  line-height: 180%;
  letter-spacing: 1px;
}

h1 {
  font-size: 12px;
  margin: 0;
  padding: 2px 3px 0px 0px;
  color: #333;
}

/*---------- ���X�g�iYF���ݒ�j ----------*/

li {
margin-bottom: 8px;
}

/*---------- ���C�� ----------*/

#main {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 780px;
  border-right:  solid 2px #9f9f9f;
  border-bottom: solid 2px #9f9f9f;
  border-left: solid 2px #9f9f9f;
  background-color: #ffffff;
}


/*---------- �w�b�_�[ ----------*/

#header {
  margin: 0;
  border-top: solid 3px #000000;
  border-bottom: solid 2px #000000;
  background-color: #ffffff;
}

#header-inner {
  margin: 0;
  padding: 0;
  color: #333333;
  width: 780px;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

#table-left{
  text-align: left;
  margin: 0;
  padding: 10px 0 5px 14px;
  font-size: 16px;
  color: #333333;
  line-height: 150%;
  text-decoration: none;
}

#table-left a{
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}

#table-left a:hover{
  font-size: 16px;
  color: #666666;
  text-decoration: none;
}


#table-right{
  text-align: right;
  margin: 0;
  padding: 2px 14px 2px 0;
  font-size: 12px;
  color: #333333;
  line-height: 150%;
  text-decoration: none;
}

#table-right a{
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}

#table-right a:hover{
  font-size: 12px;
  color: #666666;
  text-decoration: none;
}


#header-img {
  margin: 0;
  padding: 0;
  width: 780px;
  height: 200px;
  font-family:Verdana;
  background-image: url(img/main_photo.jpg);
  background-repeat: no-repeat;
}


/*---------- �R���e���c ----------*/

#container {
  margin: 0px;
  padding: 6px;
  width: 760px;
  background-color: #ffffff;
}



/*---------- ���C���R���e���c ----------*/

#contents {
  float: right;
  margin:  8px 0 0 0;
  padding: 0;
  line-height: 130%;
  letter-spacing: 1px;
  width: 570px;
}


#contents h2 {
  margin: 0;
  padding: 7px 0 6px 20px;
  line-height: 110%;
  font-size: 12px;
  color: #ffffff;
  background-image: url(img/titlebar.gif);
}

#contents p {
  margin: 8px 0 18px 0;
  padding: 0 5px 0 0;
  line-height: 120%;
  font-size: 12px;
}



/*---------- ���j���[ ----------*/

#menu {
  float: left;
  margin: 0;
  padding: 8px 0 0 8px;
  width: 160px;
  text-align: left;
  line-height: 160%;
  letter-spacing: 1px;
  background-color: #ffffff;
}

#menu h2 {
  height: 18px;
  margin: 0;
  padding: 8px 0 2px 14px;
  line-height: 110%;
  font-size: 12px;
  color: #ffffff;
  background-image: url(img/sidebar.gif);
}

#menu p {
  margin: 10px 4px 16px 4px;
  line-height: 180%;
}


#menu a{
  color: #333333;
  font-size: 12px;
 }

#menu a:hover{
  color: #004080;
  font-size: 12px;
}



/*---------- �t�b�^�[ ----------*/

#footer {
  clear: both;
  margin: 0;
  padding: 15px 18px 15px 0;
  text-align: right;
  font-size: 12px;
  color: #666666;
  border-top: solid 3px #000000;
  background-color: #ffffff;
}

#footer a {
  color: #666666;
  font-size: 12px;
 }

#footer a:hover {
  color: #333333;
}
