<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/profile">Profile</a></li>
	        		<li><a href="/research">Research</a></li>
	        		<li><a href="/output">Output/Others</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/access">Access</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:fukushima@irides.tohoku.ac.jp">email</a></li>
	        		<li><a href="https://yofuku.github.io">yofuku.github.io</a></li>
				</ul>
			</footer>
		</body>
	</html>
